<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="jquery :: jqueryReference">
<script src="/static/js/rowSelect.js"></script>
<script src="/static/js/tablesorter/jquery.tablesorter.js"></script>
<script>
$(document).ready(function() {
	$('#contentTable').on('click', 'tr:not(#headers)', function(){
		var flightId = $(this).find('input:radio').val();
		$('button[name="flightId"]').val(flightId);
	});
	$('button:not(button[name="addFlightPage"])').click(function(e){
		if(!$('button[name="flightId"]').val()){
			e.preventDefault();
			alert('select flight');
			return;
		}
	});
	$("#contentTable").tablesorter();
	clickableRows();
	}
);
</script>
</head>
<body th:insert="header :: header">
	<table id="mainTable">
	<tr>
		<td>
		<form id="flightForm" th:action="@{/flight}" method="post">
			<table id="contentTable" class="tablesorter">
				<thead>
					<tr id="headers">
						<th>Id</th>
						<th th:utext="#{flight.origin}">Origin</th>
						<th th:utext="#{flight.destination}">Destination</th>
						<th th:utext="#{flight.date}">Departure date</th>
						<th th:utext="#{status}">Status</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="flight : ${flights} ">
						<td th:text="${flight.id}">13
						<input type="radio" id="rowRadio" name="flightId" value="${flight.id}">
						</td>
						<td th:text="${flight.origin}">A</td>
						<td th:text="${flight.destination}">B</td>
						<td th:text="${#temporals.format(flight.departureDate, 'yyyy-MM-dd HH:mm')}">2022-15-25 18:33</td>
						<td th:text="${flight.flightStatus}">Off</td>
					</tr>
				</tbody>
			</table>
		 	</form>
		 	<form id="freeCrewForm" th:action="@{/crew/free}" method="post"></form>
	 	</td>
	 	<td>
	 	<div id="control Div">
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<button name="addFlightPage" form="flightForm" type="submit" th:utext="#{command.add}">Add</button><br/>
				<button name="remove" form="flightForm" type="submit" th:utext="#{command.remove}">Rem</button><br/>
				<button name="changeFlightPage" form="flightForm" type="submit" th:utext="#{command.configure}">Conf</button><br/>
				<button name="flightId" form="freeCrewForm" type="submit" th:utext="#{command.freeCrew}">Free</button><br/>
	 		</div>
	 		<form method="GET" id="crewForm" th:action="@{/crew}">
		 		<div sec:authorize="hasRole('ROLE_DISPATCHER')">
					<button name="flightId" type="submit" th:utext="#{command.createCrew}">Create</button><br/>
		 		</div>
	 		</form>
	 	</div>
	 	</td>
	 </tr>
 	</table>
</body>
</html>